.mySlides {
  font-family: "Montserrat", sans-serif;
  height: 250px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  margin: 0 15px;
  width: 33.333%;
  box-sizing: border-box;
  background-color: white;
}

.mySlides h1 {
  color: rgba(240, 93, 94, 0.8);
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.mySlides h2 {
  color: #707070;
  margin: 0;
  padding: 0;
}

.mySlides h2 img {
  width: 100px;
  padding: 0 1px;
  margin: 0;
  transform: translate(0, 6px);
}

.mySlides .fullstop {
  color: rgba(240, 93, 94, 0.8);
}
