@import "../../styleVariables";

.our-team-section {
  padding: 0 2% 30px 2%;

  h2 {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: $sigGrey;
    margin: 50px auto;
    text-align: center;
  }
}
