@import "../../styleVariables";

.section-how-it-works {
  background-color: $sigRed;
  text-align: center;
  padding: 40px;
  color: $sigWhite;

  > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.8rem;
    margin: 20px auto;
  }

  .about-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
