@import "../../styleVariables";

.slide-wrapper {
  position: relative;
  background-size: cover;
  width: 100vw;
  padding-top: $headerLinksHeight + (2 * $headerPadding);
  padding-bottom: $slideshowDotsHeight + (2 * $slideshowDotsPadding);

  .slide {
    box-sizing: border-box;
    width: 100%;
    padding: 0 50px;

    .slide-text {
      font-family: "Montserrat", sans-serif;
      font-size: clamp(1.5rem, 3vw, 2rem);
      color: $sigWhite;
      padding: 40px 0;
      box-sizing: border-box;

      h2 {
        font-weight: 600;
        padding: 6px 0;
        box-sizing: border-box;
      }
    }

    .slide-button {
      padding: 10px 20px;
      background-color: $sigRed;
      border-radius: 8px;
      border: 2px solid $sigWhite;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: clamp(1.5rem, 3vw, 2rem);
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: $sigWhite;
      }
    }
  }
}
