@import "../../../styleVariables";

.our-team-section {
  padding: $SECTION_PADDING;

  h2 {
    font-size: $SECTION_HEADER_FONT_SIZE;
    font-family: $SECTION_HEADER_FONT_FAMILY;
    font-weight: $SECTION_HEADER_FONT_WEIGHT;
    color: $sigGrey;
    margin: $SECTION_HEADER_MARGIN;
    text-align: center;
  }
}
