@import "../../styleVariables";

.section-faqs {
  background-color: $sigGreen;
  text-align: center;
  padding: 20px 2%;

  > h2 {
    color: $sigWhite;
    font-family: $SECTION_HEADER_FONT_FAMILY;
    font-size: $SECTION_HEADER_FONT_SIZE;
    font-weight: $SECTION_HEADER_FONT_WEIGHT;
    padding: $SECTION_PADDING;
  }
}
