@import "../styleVariables";

#section-portfolio {
  margin: auto;
  margin-bottom: 30px;
  padding: 60px 50px 0 50px;
  border-radius: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  width: 50vw;
  border: 5px solid $sigRed;

  h1 {
    font-size: 2rem;
    font-weight: lighter;
    background-color: $sigRed;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: $sigWhite;
    margin: 0 auto;
  }

  h2 {
    color: $sigRed;
    font-weight: lighter;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 70px auto;

    #header-column {
      width: 100%;
      padding: 0 4px;

      #header-pic {
        width: 100%;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
      }
    }

    .column {
      flex: 48%;
      padding: 0 4px;

      img {
        width: 100%;
        margin-top: 8px;
        vertical-align: middle;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
      }
    }
  }
}

@media (max-width: 800px) {
  #section-portfolio {
    padding-left: 0;
    padding-right: 0;
    width: 80vw;

    .row {
      flex-wrap: wrap;

      .column {
        flex: 100%;
      }
    }
  }
}
