@import "../../styleVariables";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

$BORDER_RADIUS: 10px;

.property-photo-wrapper {
  overflow: hidden;
  position: relative;
  border-radius: $BORDER_RADIUS;
  margin: auto;
  box-sizing: border-box;

  .property-photo {
    z-index: 1;
    width: 100%;
    position: relative;
    border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;

    &:hover {
      .photo-footer {
        transform: translate(0, 0);
      }
    }

    img {
      display: block;
      width: 100%;
    }

    .photo-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: $headerBlack;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2%;
      font-family: "Nunito", sans-serif;

      transform: translate(0, 100%);
      transition: all 0.3s;

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 3% 1%;
        color: $sigWhite;
        font-family: "Nunito", sans-serif;
        font-size: 1.2rem;
      }
    }

    .photo-footer--inactive {
      display: none;
    }
  }

  .property-info {
    visibility: hidden;
    height: 0;
    z-index: 0;
    background-color: #dedede;
    padding: 0 4%;
    transition: all 0.3s;
    font-family: "Nunito", sans-serif;

    > h3 {
      color: $sigGrey;
      font-family: "Nunito", sans-serif;
      font-size: clamp(1.4rem, 8vw, 2rem);
      padding: 10px 0;
    }

    .room-stats {
      display: flex;
      justify-content: flex-start;
      padding: 10px 0;
      font-family: "Nunito", sans-serif;

      .room-stat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        font-family: "Nunito", sans-serif;
        color: $sigGrey;
        width: 20%;
        margin-right: 20px;

        > h3 {
          font-family: "Nunito", sans-serif;
        }
      }
    }

    > p {
      color: $sigGrey;
      font-family: "Nunito", sans-serif;
      font-size: 1.1rem;
      padding: 10px 0;
    }

    > button {
      margin: 10px 0;
    }
  }

  .property-info--active {
    visibility: visible;
    height: auto;
  }

  .read-button {
    background-color: transparent;
    color: $sigWhite;
    font-family: "Nunito", sans-serif;
    font-size: 100%;
    border-radius: 20px;
    padding: 1% 2%;
    border: 2px solid $sigWhite;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }

    &--dark {
      @extend .read-button;
      color: $sigGrey;
      border: 2px solid $sigGrey;
    }
  }
}

@media (max-width: 710px) {
  .property-photo-wrapper {
    .property-photo .photo-footer {
      transform: translate(0, 0);
    }
  }
}
