@import "../../styleVariables";

.topper-slide {
  text-align: left;
  padding: 0 4%;

  .topper-slide-text {
    font-family: "Montserrat", sans-serif;
    font-size: clamp(1.5rem, 3vw, 2rem);
    color: $sigWhiteOpaque;
    padding: 40px 0;
    box-sizing: border-box;

    h2 {
      font-weight: 600;
      padding: 6px 0;
      box-sizing: border-box;
    }
  }

  .topper-slide-button {
    padding: 10px 20px;
    background-color: $sigRed;
    border-radius: 8px;
    border: 2px solid $sigWhite;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 10px;
    text-decoration: none;
    color: $sigWhite;
    box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 16px;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      background-color: $sigWhite;
      color: $sigRed;
    }

    a {
      text-decoration: none;
      color: $sigWhite;
    }
  }
}
