.pricing-section {
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  color: #f05d5e;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 20px;
  border-radius: 8px;
  margin: 30px auto;
}

.pricing-section > h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 20px;
}

.pricing-section .form-wrapper {
  padding: 30px;
  text-align: center;
}

.pricing-section form {
  margin: auto;
}

.pricing-section form label {
  padding: 30px;
  padding-left: 0;
  font-size: 1.2rem;
}

.pricing-section select {
  margin-right: 20px;
  font-size: 1rem;
  color: #604d53;
  background-color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}

.pricing-section form button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  border: 2px solid #f05d5e;
  border-radius: 8px;
  padding: 0px 10px;
  background-color: white;
  transition: all 0.3s;
}

.pricing-section form button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #f05d5e;
  color: rgba(255, 255, 255, 1);
}

.pricing-section > .price {
  text-align: center;
  font-size: 3.5rem;
}

.pricing-section p span {
  font-weight: bolder;
}

@media (max-width: 800px) {
  #price-calculator-form label,
  #price-calculator-form select {
    display: block;
    margin: 10px auto 10px auto;
  }

  #price-calculator-form select {
    margin-top: 0;
  }

  #price-calculator-form label {
    padding: 0;
  }

  #price-calc-button {
    margin-top: 10px;
  }

  #calculated-price {
    margin-bottom: 30px;
  }
}
