@import "../styleVariables";

.section-how-it-works {
  background-color: $sigRed;
  text-align: center;
  padding: $SECTION_PADDING;
  color: $sigWhite;

  > h2 {
    font-weight: $SECTION_HEADER_FONT_WEIGHT;
    font-family: $SECTION_HEADER_FONT_FAMILY;
    font-size: $SECTION_HEADER_FONT_SIZE;
    margin: $SECTION_HEADER_MARGIN;
  }

  .about-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
