@import "../styleVariables";

.section-pricing {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: $sigRed;
  padding: 40px 0;
  margin: auto;
  background-color: $sigWhite;

  h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 70px;
  }

  h3 {
    margin: 50px 0;
  }

  p {
    position: relative;
    max-width: 450px;
    padding: 0 25px;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;

    i {
      color: #717171;
    }

    span {
      font-weight: bolder;
      padding: 0;

      a {
        color: $sigRed;
      }
    }
  }

  select {
    font-size: 1.75rem;
    width: 200px;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    color: $sigRed;
    border-radius: 5px;
    background-color: white;

    &:focus {
      outline: none;
    }
  }

  .price {
    font-size: 3rem;
    padding-bottom: 0;
    margin-bottom: 40px;
  }
}

.rooms-help {
  font-size: 1rem;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  cursor: pointer;

  p {
    color: $sigWhite;
    display: none;
    text-align: left;
    width: 200px;
    background-color: $sigRedHover;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
  }

  &:hover p {
    display: block;
  }
}
