@import "../../../styleVariables";

.we-are-here-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: $SECTION_PADDING;

  $leftWidth: 60%;

  .left {
    width: $leftWidth;
    font-family: "Montserrat", sans-serif;
    color: $sigRed;
    padding: 20px 3%;

    .headings {
      h3 {
        font-size: clamp(40px, 3vw, 35px);
        font-weight: 600;
        color: $sigRedHover;
      }

      h2 {
        padding-left: 18%;
        font-size: clamp(45px, 3.5vw, 40px);
        font-weight: 900;
      }
    }
    > p {
      color: $sigGrey;
      padding-top: 30px;
      font-family: "Nunito", sans-serif;
      font-size: 1.5rem;
      line-height: 1.5;
      margin-bottom: 40px;
    }

    .lets-talk-button {
      color: $sigGrey;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
      border: 3px solid $sigGrey;
      border-radius: 30px;
      padding: 10px 20px;
      transition: all 0.3s ease;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;

      &:hover {
        color: $sigWhite;
        background-color: $sigGrey;
      }
    }
  }
  .right {
    $imageWidth: 100% - $leftWidth;
    $imageMaxWidth: 350px;

    height: ($imageWidth / 2) * 3;
    max-height: ($imageMaxWidth / 2) * 3;
    border-radius: 8px;
  }
}

@media (max-width: 900px) {
  .we-are-here-section {
    .left {
      width: 100%;
      max-width: 820px;
    }
  }
}
