@import "../../styleVariables";

.we-are-here-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .left {
    border: 2px solid red;
  }
  .right {
    border: 2px solid red;

    img {
      width: 100%;
    }
  }
}
