@import "../styleVariables";

.section-header {
  position: absolute;

  /* Make div stretch entire width of screen. */
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;
}

/* --------------------------
  HEADER
  -------------------------*/
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: $headerPadding;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;

  .header-links {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 10px;
    width: $headerLinksWidth;
    height: $headerLinksHeight;
    border-radius: 15px;
    background-color: $headerBlack;

    .header-booking-link {
      height: 60%;
      margin: auto 0;
    }
  }
}

/* --------------------------
  BURGER HEADER
  -------------------------*/
$menuButtonHeight: 50px;
$menuButtonPadding: 5px;
$menuButtonLineHeight: 5px;

.burger-menu-wrapper {
  display: none;

  .menu-button {
    position: fixed;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding: $menuButtonPadding 0;
    z-index: 4;
    width: $menuButtonHeight;
    height: $menuButtonHeight;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: $headerPadding;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    .menu-button-line {
      height: $menuButtonLineHeight;
      width: 30px;
      margin: 0 auto;
      border-radius: 2px;
      background-color: $sigGrey;
      transition: 0.4s;
    }
  }

  .burger-menu {
    z-index: 3;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    backdrop-filter: blur(10px);
    background-color: $headerBlack;

    .burger-links {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      padding-left: 0;
      text-align: center;
      height: 80vh;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      li {
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;

        a {
          margin: 0;
          font-weight: 600;
        }
      }
    }
  }
}

.change {
  .bar1 {
    -webkit-transform: translate(
        0,
        ($menuButtonHeight / 2) - $menuButtonPadding - ($menuButtonLineHeight/2)
      )
      rotate(45deg);
    transform: translate(
        0,
        ($menuButtonHeight / 2) - $menuButtonPadding - ($menuButtonLineHeight/2)
      )
      rotate(45deg);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: translate(
        0,
        -(($menuButtonHeight / 2) - $menuButtonPadding -
              ($menuButtonLineHeight/2))
      )
      rotate(-45deg);
    transform: translate(
        0,
        -(($menuButtonHeight / 2) - $menuButtonPadding -
              ($menuButtonLineHeight/2))
      )
      rotate(-45deg);
  }
}

.header-logo img {
  height: $headerLinksHeight;
}

.burger-logo {
  margin: $headerPadding;
}

/* --------------------------
  STICKY HEADER
  -------------------------*/
$stickyHeaderHeight: 70px;
$elementHeight: 0.8;

.section-stickyHeader {
  position: fixed;
  top: -$stickyHeaderHeight;
  left: 0;
  width: 100%;
  height: $stickyHeaderHeight;
  background-color: $sigWhiteOpaque;
  backdrop-filter: blur(6px);
  z-index: 2;
  padding: 0 30px;
  box-sizing: border-box;
  transition: all 0.4s ease;

  .stickyHeader-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .stickyHeader-logo img {
      height: $elementHeight * $stickyHeaderHeight;
    }

    .booking-link {
      color: $sigWhite;
      background-color: $sigRed;
      border-radius: 4px;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-size: 0.6rem;
      align-self: flex-start;
      box-sizing: border-box;
      padding: 0 12px;
      margin: auto 0;
      height: $stickyHeaderHeight * $elementHeight;
      max-height: 50px;
      display: flex;
      flex-direction: column;

      &:hover {
        background-color: $sigRedHover;
      }

      h2 {
        font-weight: 600;
        padding: 0;
        margin: auto 0;
      }
    }
  }
}

.stickyHeader-active {
  transform: translate(0, $stickyHeaderHeight);
}

/* --------------------------
  MEDIA QUERIES
  -------------------------*/
@media (max-width: $HEADER_SWITCH_WIDTH) {
  .header-wrapper {
    display: none;
  }

  .burger-menu-wrapper {
    display: block;
  }

  .section-stickyHeader {
    display: none;
  }
}
