// COLOURS
$sigRed: #f07474;
$sigRedHover: rgba(240, 93, 94, 0.6);
$sigWhite: #f4f2f3;
$sigWhiteOpaque: rgba(244, 242, 243, 0.7);
$sigGrey: #707070;
$sigGreyOpaque: rgba(89, 89, 89, 0.8);
$lightGrey: #e9e9e9;
$sigGreen: #7ebc89;
$errorRed: #f33737ec;
$successGreen: green;

/*------------------------------ 
COMMON VARIABLES
------------------------------*/

// SECTIONS
$SECTION_PADDING: 20px 2%;
$SECTION_MAX_WIDTH: 1650px;
$SECTION_HEADER_FONT_SIZE: 2.6rem;
$SECTION_HEADER_FONT_FAMILY: "Montserrat", sans-serif;
$SECTION_HEADER_FONT_WEIGHT: 600;
$SECTION_HEADER_MARGIN: 30px 0;

/*------------------------------ 
COMPONENT VARIABLES
------------------------------*/

// HEADER VARIABLES
$HEADER_SWITCH_WIDTH: 1200px;
$headerPadding: 25px;
$headerLinksHeight: 70px;
$headerLinksWidth: 70vw;
$headerLinksFontSize: 20px;
$headerBlack: rgba(0, 0, 0, 0.5);

// SLIDESHOW VARIABLES
$slideshowDotsHeight: 15px;
$slideshowDotsPadding: 10px;
