$sigRed: #f07474;
$sigRedHover: rgba(240, 93, 94, 0.6);
$sigWhite: #f4f2f3;
$sigWhiteOpaque: rgba(244, 242, 243, 0.7);
$sigGrey: rgb(89, 89, 89);
$sigGreyOpaque: rgba(89, 89, 89, 0.8);
$errorRed: #f33737ec;
$successGreen: green;
