// GLOBAL VARIABLES
$sigRed: #f07474;
$sigRedHover: rgba(240, 93, 94, 0.6);
$sigWhite: #f4f2f3;
$sigWhiteOpaque: rgba(244, 242, 243, 0.7);
$sigGrey: rgb(89, 89, 89);
$sigGreyOpaque: rgba(89, 89, 89, 0.8);
$errorRed: #f33737ec;
$successGreen: green;

// HEADER VARIABLES
$HEADER_SWITCH_WIDTH: 1200px;
$headerLinksHeight: 70px;
$headerLinksWidth: 70vw;
$headerLinksFontSize: 20px;
$headerBlack: rgba(0, 0, 0, 0.5);
