@import "../../styleVariables";

.nav-links {
  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
    margin: 14px auto;
    padding: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: $headerLinksFontSize;
    color: $sigWhite;

    &:hover {
      background-color: $sigWhite;

      color: rgba(0, 0, 0, 0.8);
    }
  }

  .header-booking-link {
    background-color: $sigRed;
    border-radius: 6px;
    padding: 10px 5px;
    $bookingButtonVerticalMargin: 10px;
    font-weight: 600;
    vertical-align: middle;
  }
}
