@import "../../styleVariables";

.nav-links {
  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-size: $headerLinksFontSize;
      color: $sigWhite;

      &:hover {
        color: $sigWhiteOpaque;
      }
    }
  }

  .header-booking-link {
    background-color: $sigRed;
    border-radius: 6px;

    a {
      display: block;
      $bookingButtonVerticalMargin: 10px;
      margin: $bookingButtonVerticalMargin 0;
      padding: 0 10px;
      // Vertically center "book now" in button
      line-height: $headerLinksHeight - (2 * $bookingButtonVerticalMargin);
      font-weight: 600;
    }
  }
}
