@import "../../styleVariables";

.photo-gallery {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: left;

  .col1 {
    width: 40%;
  }

  .col2 {
    width: 60%;
  }

  .photo-gallery-photo {
    $IMAGE_MARGINS: 10px;
    margin: $IMAGE_MARGINS $IMAGE_MARGINS/2;

    &:first-child {
      margin-top: $IMAGE_MARGINS/2;
    }

    &:last-child {
      margin-bottom: $IMAGE_MARGINS/2;
    }
  }
}

@media (max-width: 710px) {
  .photo-gallery {
    display: block;
    .col1,
    .col2 {
      width: calc(min(95vw, 400px));
      margin: auto;
    }
  }
}
