.booking-wrapper {
  font-family: "Montserrat", sans-serif;
  border: 5px solid rgba(240, 93, 94, 0.8);
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  width: 90%;
  padding: 4px;
}

.booking-wrapper .stage-counter {
  font-size: 0.8rem;
  margin: 0;
  padding: 10px;
}

.booking-wrapper form {
  max-width: 400px;
  width: 98%;
  margin: auto;
}

.booking-wrapper form .booking-section {
  font-size: 1.2rem;
  width: 100%;
}

.booking-wrapper form .booking-section .rooms-help {
  font-size: 1rem;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.booking-wrapper form .booking-section .rooms-help p {
  color: #f4f2f3;
  display: none;
  text-align: left;
  width: 200px;
  background-color: rgba(240, 93, 94, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.booking-wrapper form .booking-section .rooms-help p:hover {
  display: block;
}

.booking-wrapper form .booking-section .custom-select {
  position: absolute;
  font-size: 1.4rem;
  z-index: 1;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f2f3;
  border: 1px solid grey;
  width: 100%;
  cursor: pointer;
}

.booking-wrapper form .booking-section .custom-select i,
.booking-wrapper form .booking-section .custom-select .num-of-rooms {
  padding: 5px;
}

.booking-wrapper form .booking-section .custom-select .num-of-rooms {
  font-size: 1.5rem;
  z-index: 2;
  margin: 0;
  padding-left: 0;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  font-size: 1rem;
}

.booking-wrapper form .booking-section .custom-select .num-of-rooms p {
  padding: 0;
  margin: 0 5px;
}

.booking-wrapper form .booking-section .custom-select .num-of-rooms li {
  padding: 1px 4px;
  border-radius: 5px;
}

.booking-wrapper form .booking-section .custom-select .num-of-rooms li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.booking-wrapper form .booking-section .custom-select .num-of-rooms p,
.booking-wrapper form .booking-section .custom-select .num-of-rooms li {
  font-size: 1.5rem;
}

.booking-wrapper form .booking-section .date,
.booking-wrapper form .booking-section .time {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  padding: 5px;
  margin-bottom: 2px;
}

.booking-wrapper form .booking-section .textarea-wrapper {
  position: relative;
}

.booking-wrapper form .booking-section .textarea-wrapper textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 1.4rem;
  resize: none;
  padding: 5px;
  font-family: "Font Awesome 5 Free", "Montserrat", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.booking-wrapper form .booking-section .textarea-wrapper .textarea-help {
  font-size: 1rem;
  padding: 10px 11px;
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.booking-wrapper form .booking-section .textarea-wrapper .textarea-help:hover p {
  display: block;
}

.booking-wrapper form .booking-section .textarea-wrapper .textarea-help p {
  color: #f4f2f3;
  display: none;
  text-align: left;
  width: 200px;
  background-color: rgba(240, 93, 94, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.booking-wrapper form .booking-section button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}

.booking-wrapper form .booking-section .booking-price {
  color: rgba(240, 93, 94, 0.8);
  margin: 10px;
  font-size: 4rem;
}

.booking-wrapper form .booking-section .next-button .fa-chevron-right {
  color: #f4f2f3;
  position: absolute;
  padding: 0 15px;
  padding-top: 2.5px;
  right: 0;
}

.booking-wrapper form .rooms-wrapper {
  height: 80px;
  position: relative;
  width: 100%;
  font-size: 1.4rem;
}

.booking-wrapper form .stage-2 input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 1.5rem;
  border: 1px solid grey;
  -webkit-box-shadow: 1px 2px 4px #888888;
          box-shadow: 1px 2px 4px #888888;
  margin: 10px 0;
  padding: 15px 5px;
}

.booking-wrapper form .stage-2 .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking-wrapper form .stage-2 .buttons button {
  width: 20%;
  margin: 8px;
  padding: 6px;
  background-color: rgba(240, 93, 94, 0.8);
  border: none;
  border-radius: 4px;
  color: #f4f2f3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.booking-wrapper form .stage-2 .buttons button:hover {
  background-color: rgba(240, 93, 94, 0.8);
}

.booking-wrapper form .confirmation-timeslot {
  background-color: rgba(240, 93, 94, 0.8);
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px;
}

.booking-wrapper form .confirmation-timeslot h1 {
  color: #f4f2f3;
  padding: 0;
  margin: 0;
}

.booking-wrapper form .confirmation-timeslot p {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.booking-wrapper form .confirmation-timeslot .change-booking {
  color: #eeeeee;
  border-bottom: 1px solid #eeeeee;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.booking-wrapper form .confirmation-timeslot .change-booking:hover {
  color: #f4f2f3;
  border-bottom: 1px solid #f4f2f3;
}

.booking-wrapper form .confirmation-personal-details {
  border: 1px solid rgba(240, 93, 94, 0.8);
  margin: 5px 0 0 0;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.booking-wrapper form .confirmation-personal-details .details {
  text-align: left;
}

.booking-wrapper form .confirmation-personal-details .details h2 {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.booking-wrapper form .confirmation-personal-details .details p {
  margin: 0;
  padding: 0;
}

.booking-wrapper form .confirmation-personal-details .details h2,
.booking-wrapper form .confirmation-personal-details .details p {
  font-size: 1rem;
}

.booking-wrapper form .confirmation-change-info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 0.8rem;
  padding-bottom: 0;
  display: inline-block;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.booking-wrapper form .confirmation-change-info:hover {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.booking-wrapper form .confirmation-price {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 0;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.booking-wrapper form .confirmation-price .line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
}

.booking-wrapper form .confirmation-price .line p {
  padding: 0;
  margin: 0;
}

.booking-wrapper form .confirmation-price .total {
  border-top: 1px solid black;
  margin-top: 5px;
}

.booking-wrapper form .confirmation-price .total p {
  font-weight: 600;
}

.booking-wrapper form .confirmation-timeslot,
.booking-wrapper form .confirmation-personal-details,
.booking-wrapper form .confirmation-price {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  margin: 8px 0;
}

.booking-wrapper form .next-button {
  z-index: 0;
  position: relative;
  font-size: 1.5rem;
  width: 100%;
  padding: 8px 5px;
  border-radius: 2px;
  cursor: pointer;
  background-color: rgba(240, 93, 94, 0.8);
  color: #f4f2f3;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.booking-wrapper form .next-button:hover {
  background-color: rgba(240, 93, 94, 0.8);
}
/*# sourceMappingURL=book.css.map */