@import "../styleVariables";

.section-why-internn {
  .why-internn-reason-wrapper {
    background-color: $sigRed;
    padding: 40px 10%;

    .why-internn-reason {
      .reason-left {
        margin-right: 6%;
      }
    }

    .why-internn-reason {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1000px;
      margin: auto;

      .reason-left {
        .reason-text {
          font-family: "Nunito", sans-serif;
          font-weight: 400;
          color: $sigGrey;

          > * {
            padding: 10px 0;
          }

          > h2 {
            padding-top: 0;
            line-height: 1.2;
            font-weight: 400;
            font-size: 4rem;
          }

          > p {
            font-size: 1.3rem;
            line-height: 1.6;
            padding-bottom: 30px;
          }
        }
        .reason-button {
          font-size: 1.2rem;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          text-decoration: none;
          border-radius: 30px;
          padding: 10px 20px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
          transition: all 0.3s ease;
        }
      }

      img {
        width: 300px;
        border-radius: 10px;
      }
    }

    &--white {
      @extend .why-internn-reason-wrapper;
      background-color: $sigWhite;

      .why-internn-reason .reason-left {
        .reason-text {
          > h2 {
            color: $sigGrey;
          }

          > p {
            color: $sigGreyOpaque;
          }
        }

        .reason-button {
          color: $sigGrey;
          border: 3px solid $sigGrey;

          &:hover {
            color: $sigWhite;
            background-color: $sigGrey;
          }
        }
      }
    }
    &--grey {
      @extend .why-internn-reason-wrapper;
      background-color: $sigGrey;

      .why-internn-reason .reason-left {
        .reason-text {
          > h2 {
            color: $sigWhite;
          }

          > p {
            color: $sigWhiteOpaque;
          }
        }

        .reason-button {
          color: $sigWhite;
          border: 3px solid $sigWhite;

          &:hover {
            color: $sigGrey;
            background-color: $sigWhite;
          }
        }
      }
    }
    &--red {
      @extend .why-internn-reason-wrapper;
      background-color: $sigRed;

      .why-internn-reason .reason-left {
        .reason-text {
          > h2 {
            color: $sigWhite;
          }

          > p {
            color: $sigWhiteOpaque;
          }
        }

        .reason-button {
          color: $sigWhite;
          border: 3px solid $sigWhite;

          &:hover {
            color: $sigRed;
            background-color: $sigWhite;
          }
        }
      }
    }
  }

  .reverse {
    .why-internn-reason {
      flex-direction: row-reverse;
      text-align: right;

      .reason-left {
        margin-left: 6%;
        margin-right: 0;
      }
    }
  }

  @media (max-width: 800px) {
    .why-internn-reason-wrapper {
      .why-internn-reason {
        display: block;

        .reason-left {
          margin: auto;
          margin-bottom: 20px;
        }
      }
    }
  }
}
