@import "../../styleVariables";

.blog-card {
  width: 45%;
  margin: 10px;
  max-width: 500px;

  .blog-image {
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  .blog-text-wrapper {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: "Montserrat", sans-serif;
    color: $sigGrey;
    padding: 20px 2%;

    > h2 {
      font-weight: 400;
      font-size: 2rem;

      > span {
        font-weight: 600;
      }
    }

    .p-wrapper {
      padding: 30px 0;
      line-height: 1.4;

      p {
        font-size: 1.2rem;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    .post-button-wrapper {
      margin: 10px auto;
      &:hover {
        cursor: pointer;
      }

      .post-link {
        text-decoration: none;
        color: $sigGrey;
        border: 2px solid $sigRed;
        padding: 5px 10px;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 850px) {
  .blog-card {
    .blog-image {
      height: 250px;
    }
  }
}

@media (max-width: 700px) {
  .blog-card {
    width: 95%;
  }
}
