html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(244, 242, 243, 0.6);
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  font-family: "Montserrat", sans-serif;
}

.burger-menu {
  z-index: 3;
  display: none;
}

.logo {
  width: 180px;
  transition: all 0.3s;
}

.header-logo {
  opacity: 0.8;
}

.logo a {
  margin: 0 auto auto auto;
  font-size: 1.5rem;
  padding: 3px 3px;
  text-decoration: none;
}

.nav-links {
  margin: auto;
  margin-right: 0;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  width: 45vw;
}
nav > a:hover {
  cursor: pointer;
}

.nav-link a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.nav-link a:hover {
  border-bottom: 2px solid #f05d5e;
  color: rgba(0, 0, 0, 0.9);
}

/* ---------------------------
    MEDIA QUERIES
  ----------------------------*/

@media (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
  }

  .burger-logo {
    border-radius: 6px;
    margin: 3%;
  }

  .burger-logo a:hover {
    cursor: pointer;
  }

  .menu-button {
    z-index: 4;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #604d53;
    margin: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    cursor: pointer;
  }

  .menu-button:focus {
    outline: none;
    box-shadow: none;
  }

  .menu-button-line {
    height: 2px;
    margin: 9px auto;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.4s;
  }

  .burger-menu {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
  }

  .burger-menu-links-container {
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0, 0.5);
  }

  .burger-nav .nav-link {
    padding: 5vh 0;
    font-size: 1.5rem;
  }

  .burger-nav .nav-link a {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Montserrat", sans-serif;
  }

  .burger-nav .nav-link a:hover {
    color: rgba(255, 255, 255, 0.7);
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .burger-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding-left: 0;
    text-align: center;
  }
}
