@import "../styleVariables";

nav {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    width: 55vw;

    &:hover {
      cursor: pointer;
    }
  }
}

.logo {
  width: 180px;
  transition: all 0.3s;

  a {
    margin: 0 auto auto auto;
    font-size: 1.5rem;
    padding: 3px 3px;
    text-decoration: none;
  }
}

.header-logo {
  opacity: 0.9;
}

.nav-links {
  margin: auto;
  margin-right: 0;
}

.nav-link a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

.burger-menu {
  z-index: 3;
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;

  .burger-menu-links-container {
    position: fixed;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.4);

    .burger-nav {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      padding-left: 0;
      text-align: center;

      .nav-link {
        padding: 5vh 0;
        font-size: 1.5rem;

        a {
          color: rgb(136, 136, 136);
          font-family: "Montserrat", sans-serif;

          &:hover {
            color: rgba(136, 136, 136, 0.8);
          }
        }
      }
    }
  }
}

.burger-logo {
  border-radius: 6px;
  padding: 3%;

  a {
    &:hover {
      cursor: pointer;
    }
  }
}

.menu-button {
  z-index: 4;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  margin: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .menu-button-line {
    height: 5px;
    margin: 9px auto;
    width: 30px;
    border-radius: 2px;
    background-color: rgb(177, 177, 177);
    transition: 0.4s;
  }
}

.change {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-10.5px, 8.5px);
    transform: rotate(-45deg) translate(-10.5px, 8.5px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    transform: rotate(45deg) translate(-10px, -10px);
  }
}

$stickyHeaderHeight: 70px;
$elementHeight: 0.8;
.section-stickyHeader {
  position: fixed;
  top: -$stickyHeaderHeight;
  left: 0;
  width: 100%;
  height: $stickyHeaderHeight;
  background-color: $sigWhiteOpaque;
  backdrop-filter: blur(6px);
  z-index: 2;
  padding: 0 30px;
  box-sizing: border-box;
  transition: all 0.4s ease;

  .stickyHeader-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .stickyHeader-logo {
      margin: auto 0;
      height: $elementHeight * 100%;
      box-sizing: border-box;

      img {
        height: 100%;
      }

      .logo {
        width: auto;
      }
    }

    .booking-link {
      color: $sigWhite;
      background-color: $sigRed;
      border-radius: 4px;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-size: 0.6rem;
      align-self: flex-start;
      box-sizing: border-box;
      padding: 0 12px;
      margin: auto 0;
      height: $stickyHeaderHeight * $elementHeight;
      max-height: 50px;
      display: flex;
      flex-direction: column;

      &:hover {
        background-color: $sigRedHover;
      }

      h2 {
        padding: 0;
        margin: auto 0;
      }
    }
  }
}

.header-active {
  transform: translate(0, $stickyHeaderHeight);
}
