nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3%;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0;
  width: 55vw;
}

nav ul:hover {
  cursor: pointer;
}

.logo {
  width: 180px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo a {
  margin: 0 auto auto auto;
  font-size: 1.5rem;
  padding: 3px 3px;
  text-decoration: none;
}

.header-logo {
  opacity: 0.9;
}

.nav-links {
  margin: auto;
  margin-right: 0;
}

.nav-link a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-link a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.burger-menu {
  z-index: 3;
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.burger-menu .burger-menu-links-container {
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.4);
}

.burger-menu .burger-menu-links-container .burger-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.burger-menu .burger-menu-links-container .burger-nav .nav-link {
  padding: 5vh 0;
  font-size: 1.5rem;
}

.burger-menu .burger-menu-links-container .burger-nav .nav-link a {
  color: #888888;
  font-family: "Montserrat", sans-serif;
}

.burger-menu .burger-menu-links-container .burger-nav .nav-link a:hover {
  color: rgba(136, 136, 136, 0.8);
}

.burger-logo {
  border-radius: 6px;
  padding: 3%;
}

.burger-logo a:hover {
  cursor: pointer;
}

.menu-button {
  z-index: 4;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  margin: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-button .menu-button-line {
  height: 5px;
  margin: 9px auto;
  width: 30px;
  border-radius: 2px;
  background-color: #b1b1b1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-10.5px, 8.5px);
  transform: rotate(-45deg) translate(-10.5px, 8.5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
  transform: rotate(45deg) translate(-10px, -10px);
}

.section-stickyHeader {
  position: fixed;
  top: -70px;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(244, 242, 243, 0.7);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: 2;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.section-stickyHeader .stickyHeader-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-stickyHeader .stickyHeader-inner .stickyHeader-logo {
  margin: auto 0;
  height: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-stickyHeader .stickyHeader-inner .stickyHeader-logo img {
  height: 100%;
}

.section-stickyHeader .stickyHeader-inner .stickyHeader-logo .logo {
  width: auto;
}

.section-stickyHeader .stickyHeader-inner .booking-link {
  color: #f4f2f3;
  background-color: #f07474;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 12px;
  margin: auto 0;
  height: 56px;
  max-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-stickyHeader .stickyHeader-inner .booking-link:hover {
  background-color: rgba(240, 93, 94, 0.6);
}

.section-stickyHeader .stickyHeader-inner .booking-link h2 {
  padding: 0;
  margin: auto 0;
}

.header-active {
  -webkit-transform: translate(0, 70px);
          transform: translate(0, 70px);
}
/*# sourceMappingURL=header.css.map */