@import "../../styleVariables";

.what-we-do {
  background-color: $lightGrey;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: auto;

  h2 {
    color: $sigRed;
    font-size: 2.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin: 20px auto;
  }

  p {
    color: $sigGrey;
    font-size: 1.8rem;
    font-family: "Nunito", sans-serif;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 20px auto;
  }
}

@media (max-width: 500px) {
  .what-we-do p {
    text-align: left;
  }
}
