.contact-form-wrapper {
  margin: 0 auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #e7e7e7;
  background-color: #707070;
  text-align: center;
  padding: 40px 0;
}

.contact-form-wrapper h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 70px;
}

.contact-form-wrapper form {
  width: 100%;
  max-width: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 0 10px;
}

.contact-form-wrapper form input {
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
  display: block;
  width: 100%;
  max-width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(243, 243, 243, 0.5);
  background: transparent;
  color: #f3f3f3;
  margin-left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-form-wrapper form input::-webkit-input-placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.contact-form-wrapper form input:-ms-input-placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.contact-form-wrapper form input::-ms-input-placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.contact-form-wrapper form input::placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.contact-form-wrapper form input:focus {
  border-bottom: 2px solid #f3f3f3;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  outline: none;
}

.contact-form-wrapper form input:focus::-webkit-input-placeholder {
  color: #f3f3f3;
}

.contact-form-wrapper form input:focus:-ms-input-placeholder {
  color: #f3f3f3;
}

.contact-form-wrapper form input:focus::-ms-input-placeholder {
  color: #f3f3f3;
}

.contact-form-wrapper form input:focus::placeholder {
  color: #f3f3f3;
}

.contact-form-wrapper form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid rgba(243, 243, 243, 0.5);
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #f3f3f3;
}

.contact-form-wrapper form textarea::-webkit-input-placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.contact-form-wrapper form textarea:-ms-input-placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.contact-form-wrapper form textarea::-ms-input-placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.contact-form-wrapper form textarea::placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.contact-form-wrapper form textarea:focus {
  border: 2px solid #f3f3f3;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  outline: none;
}

.contact-form-wrapper form textarea:focus::-webkit-input-placeholder {
  color: #f3f3f3;
}

.contact-form-wrapper form textarea:focus:-ms-input-placeholder {
  color: #f3f3f3;
}

.contact-form-wrapper form textarea:focus::-ms-input-placeholder {
  color: #f3f3f3;
}

.contact-form-wrapper form textarea:focus::placeholder {
  color: #f3f3f3;
}

.contact-form-wrapper form input,
.contact-form-wrapper form textarea {
  font-size: 1.2rem;
}

.contact-form-wrapper form button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 10px 0;
  background-color: #9c9c9c;
  color: #e7e7e7;
  border: 2px solid #e7e7e7;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  margin: 20px 0;
}

.contact-form-wrapper form button:hover {
  background-color: #b8b8b8;
}
/*# sourceMappingURL=contact.css.map */