.about-us {
  width: 80vw;
  margin: auto;
  background-color: rgba(240, 93, 94, 0.8);
  padding: 20px;
  border-radius: 8px;
  color: #f4f2f3;
  font-family: "Montserrat", sans-serif;
}

.about-us .content-wrapper {
  display: flex;
}

.about-us-text {
  margin: 0;
  padding-right: 25px;
}

.about-us-text h3 {
  font-size: 2rem;
  margin: 0;
}

.about-us-text > p {
  font-size: 1.2rem;
}

.para-logo {
  border: 2px solid #f4f2f3;
  border-radius: 5px;
  padding: 0 3px 0 3px;
}

.about-us-text > p span {
  font-weight: 800;
}

.about-us-text a {
  color: #f4f2f3;
}

.right {
  width: 250%;
}

.right img {
  display: block;
  width: 100%;
}

.right #stock-img {
  max-width: 700px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 3px 8px rgb(0, 0, 0, 0.5);
}

.right #about-logo {
  width: 70%;
  margin: auto;
  padding: 5%;
}

@media (max-width: 1000px) {
  .content-wrapper {
    flex-direction: column;
  }

  .about-us-text > p {
    margin-bottom: 30px;
  }

  .about-us #stock-img {
    display: none;
  }

  .about-us .right {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .about-us .about-us-text h3 {
    margin-bottom: 20px;
  }
}
