.section-about-us {
  background-color: rgba(240, 93, 94, 0.8);
  text-align: center;
  color: white;
  padding: 40px;
}

.section-about-us > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.section-about-us .about-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
