@import "../../../styleVariables";

.what-we-do {
  background-color: $lightGrey;
  width: 100%;
  text-align: center;
  padding: $SECTION_PADDING;
  margin: auto;

  h2 {
    color: $sigRed;
    font-size: $SECTION_HEADER_FONT_SIZE;
    font-family: $SECTION_HEADER_FONT_FAMILY;
    font-weight: $SECTION_HEADER_FONT_WEIGHT;
    margin: $SECTION_HEADER_MARGIN;
  }

  .text-wrapper {
    max-width: 1000px;
    margin: 80px auto;
    position: relative;
    $fontSize: 1.5rem;

    p {
      color: $sigGrey;
      font-size: $fontSize;
      font-family: "Nunito", sans-serif;
      line-height: 220%;
      padding: 40px 2%;
    }

    i {
      position: absolute;
      font-size: $fontSize;
      padding: auto 0 auto auto;
      color: $sigRed;
    }

    .left {
      top: 0;
      left: 0;
    }

    .right {
      bottom: 0;
      right: 0;
    }
  }
}

@media (max-width: 500px) {
  .what-we-do p {
    text-align: left;
  }
}
