/* Slideshow container */
.slideshow-container {
  margin: auto;
  box-sizing: border-box;
  padding: 0 0 10px 0;
  border-radius: 40px;
  height: 80vw;
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  min-width: 375px;
  max-width: 625px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slides-outer-wrapper {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.slides-container {
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  margin: 0 auto;
  width: 300%;
}

.position-0 {
  transform: translate(0, 0);
}

.position-1 {
  transform: translate(-33.333%, 0);
}

.position-2 {
  transform: translate(-66.666%, 0);
}

.position-0,
.position-1,
.position-2 {
  transition: all 0.6s ease;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
