@import "../../styleVariables";

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    transition: all 0.3s;

    a {
      margin: 0 auto auto auto;
      font-size: 1.5rem;
      padding: 3px 3px;
      text-decoration: none;
    }
  }
}
