@import "../../styleVariables";

.slideshow-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;

  .slides-outer-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;

    .slides-container {
      box-sizing: border-box;
      display: flex;
      margin: 0 auto;
      transition: all 1.5s ease;

      .slide {
        text-align: left;
        padding: 0 4%;

        .slide-text {
          font-family: "Montserrat", sans-serif;
          font-size: clamp(1.5rem, 3vw, 2rem);
          color: $sigWhiteOpaque;
          padding: 40px 0;
          box-sizing: border-box;

          h2 {
            font-weight: 600;
            padding: 6px 0;
            box-sizing: border-box;
          }
        }

        .slide-button {
          padding: 10px 20px;
          background-color: $sigRed;
          border-radius: 8px;
          border: 2px solid $sigWhite;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: clamp(1.5rem, 3vw, 2rem);
          margin-bottom: 10px;

          a {
            text-decoration: none;
            color: $sigWhite;
          }
        }
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: $slideshowDotsPadding;
    text-align: center;

    .dot {
      cursor: pointer;
      height: $slideshowDotsHeight;
      width: $slideshowDotsHeight;
      margin: 0 2px;
      background-color: #717171;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active {
      background-color: #bbb;
    }
  }
}
