@import "../../styleVariables";

.section-person-profile {
  text-align: center;

  > h2 {
    font-family: $SECTION_HEADER_FONT_FAMILY;
    font-size: $SECTION_HEADER_FONT_SIZE;
    font-weight: $SECTION_HEADER_FONT_WEIGHT;
    color: $sigGrey;
    margin: $SECTION_HEADER_MARGIN;
  }
}
