@import "../../styleVariables";

.section-person-profile {
  text-align: center;

  > h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color: $sigGrey;
    padding: 40px 0;
  }
}
